<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.acm431.teamup">

    <!-- Uygulamanın temel izinleri ve gereksinimleri burada tanımlanır. -->

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="TeamUpApp"
        android:theme="@style/Theme.TeamUpApp">

        <!-- MainActivity, uygulamanın ana giriş noktası olarak tanımlanır. -->
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <!-- StudentActivity ve InvestorActivity burada tanımlanır -->
        <activity android:name=".StudentActivity" />
        <activity android:name=".InvestorActivity" />

    </application>

</manifest>
